<div>
	<div ng-repeat="i in items" class="my-5">
		<div class="card white row item-row">
			<div ng-if="i.hi" class="col s4 thumb" ng-style="{'background-image': 'url(assets/images/'+i.id+'.jpg)'}"></div>
			
			<div ng-if="!i.hi" class="col s4 thumb">
				<p class="center-align blue-grey-text text-darken-2 mt-20">
					<i class="material-icons medium">image</i>
					<br>
					No Image
				</p>
			</div>
			
			<div class="col s8 relative">
				<h5 class="mt-4 mb-2">{{i.name}}</h5>
				<h6 class="grey-text mt-3">{{i.desc}}</h6>

				<h5 class="my-4">Features & Contents:</h5>
				<h6 ng-repeat="f in i.feat" class="grey-text">- {{f}}</h6>

				<div ng-repeat="tag in i.tech" class="chip my-5">
					{{tag}}
				</div>

				<p class="hide-on-small-only absolute pin-b mb-5">
					<button ng-click="openItem(i.id)" class="btn blue darken-2 mx-3"><i class="material-icons left">visibility</i>View</button>
					<a ng-click="confirmBuy(i.pay, i.name, i.amt)" class="btn red lighten-1"><i class="material-icons left">shopping_cart</i>Buy for {{i.amt}}</a>
				</p>

				<p class="hide-on-med-and-up">
					<button ng-click="openItem(i.id)" class="btn blue darken-2 mx-3"><i class="material-icons left">visibility</i>View</button>
					<br>
					<a ng-click="confirmBuy(i.pay, i.name, i.amt)" class="m-3 my-4 btn red lighten-1"><i class="material-icons left">shopping_cart</i>Buy for {{i.amt}}</a>
				</p>
			</div>
		</div>
	</div>
</div>